* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../images/universe.jpg");
  background-size: cover;
}

.portrait-img {
  width: 150px;
}
.card {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  /* add coloring */
  color: #2b2839;
  background-color: #fcbf49;
  border-bottom: 7px solid #d62828;
  border-radius: 5px;
}
/* For space exploration project */
.space-main {
  font-family: "Orbitron", sans-serif;
  color: #fff;
  text-align: center;
}

.btn {
  font-size: 20px;
  font-family: inherit;
  padding: 10px 20px;
  border: 0;
  background-color: #fff;
}
